/* PFR Theme 
*/
.account-masthead {
  background-color: rgb(92, 148, 36);

}

body {
  background-color: rgb(40, 56, 9);
}

.site-footer,
.masthead {
  background-color: rgb(40, 56, 9);
}
.header-image {
  margin: 5px 0;
}

.homepage .module-search .module-content {
  background-color: rgb(40, 56, 9);
}

.homepage .module-search .tags {
  background-color: rgb(22, 31, 5);
}